<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/premierLeagueStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/premierLeagueJS.js}"></script>
</head>
<body>
<header class="masterHeader">
  <nav class="clubLogoNavigation"></nav>
  <div class="fixedContainer">
    <div class="navContainer">
      <nav class="mainNav">
        <a class="pageLinks" href="/index.html">Home</a>
        <a class="pageLinks" href="/clubs/">Clubs</a>
        <a class="pageLinks" href="/managers/">Managers</a>
      </nav>
    </div>
  </div>
</header>

<h2>Club Information</h2>


<table th:object="${club}">
  <tr>
    <th>Club name</th>
    <td th:text="*{clubName}"></td>
  </tr>
  <tr>
    <th>Manager</th>
    <td th:text="*{manager.firstName + ' ' + manager.lastName}"></td>
  </tr>
  <tr>
    <th>Stadium</th>
    <td th:text="*{stadium.stadiumName}"></td>
  </tr>
  <th>Players</th>
  <tr th:each="player : ${club.squad}">
    <td th:text="${player.firstName + ' ' + player.lastName}"></td>
  </tr>
</table>

</body>
</html>