<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/premierLeagueStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/premierLeagueJS.js}"></script>
</head>
<body>

<header class="masterHeader">
    <nav class="clubLogoNavigation"></nav>
    <div class="fixedContainer">
        <div class="navContainer">
            <nav class="mainNav">
                <a class="pageLinks" href="/index.html">Home</a>
                <a class="pageLinks" href="/clubs/">Clubs</a>
                <a class="pageLinks" href="/managers/">Managers</a>
            </nav>
        </div>
    </div>
</header>

<div class="mainContent">
    <header class="clubsHeader">
        <div class="column pageClubDiv">
            <h1 class="pageClubTitle">Clubs</h1>
        </div>
    </header>
        <div class="column">
            <ul class="clubBannerList">
                <li class="clubList" th:each="club : ${clubs}">
                    <a class="linkClubBox" th:href="@{/clubs/__${club.clubName}__}">
                        <div>
                            <img class="stadiumImage" th:src="${club.stadium.stadiumImage}"/>
                        </div>
                        <div class="indexClubBadge">
                            <img class="clubLogo" th:src="${club.clubLogo}"/>
                        </div>
                        <div class="indexClubInfo" th:style="'background-color:' + ${club.clubColor}">
                            <div class="nameContainer" th:style="'border: 1px solid' + ${club.clubColor}">
                                <h3 class="clubName" th:text="${club.clubName}"></h3>
                                <div class="stadiumName" th:text="${club.stadium}"></div>
                            </div>
                            <h3 class="clubProfile">Club Profile &rarr;</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
</div>
</body>
</html>