<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h2>Clubs</h2>

<table>
    <thead>
      <tr>
        <th>Club Name</th>
        <th>Manager</th>
        <th>Stadium</th>
        <th>League</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="club : ${selections}">
        <td>
          <a th:href="@{/clubs/__${club.id}__}" th:text="${club.clubName}"></a>
        </td>
        <td th:text="${club.manager}"></td>
        <td th:text="${club.stadium}"></td>
        <td th:text="${club.league}"></td>
      </tr>
    </tbody>
</table>

</body>
</html>