<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/premierLeagueStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/premierLeagueJS.js}"></script>
</head>
<body>
<header class="masterHeader">
    <nav class="clubLogoNavigation"></nav>
    <div class="fixedContainer">
        <div class="navContainer">
            <nav class="mainNav">
                <a class="pageLinks" href="/index.html">Home</a>
                <a class="pageLinks" href="/clubs/">Clubs</a>
                <a class="pageLinks" href="/managers/">Managers</a>
            </nav>
        </div>
    </div>
</header>


<form th:object="${club}" method="post">
    <div>
        <div class="form-row">
            <label class="form-label">Club name</label>
            <div>
                <input type="text" th:field="*{clubName}" required minlength="2" maxlength="32" />
            </div>
        </div>

        <div class="form-row">
            <label class="form-label">Club color (Use Hex colors. ex: #FF5733)</label>
            <div>
                <input type="text" th:field="*{clubColor}" required minlength="2" maxlength="32" />
            </div>
        </div>

        <div class="form-row">
            <label class="form-label">Club logo</label>
            <div>
                <input type="text" th:field="*{clubLogo}" required minlength="2" maxlength="256" />
            </div>
        </div>

        <div>
            <button type="submit">Create Club</button>
        </div>
    </div>
</form>

</body>
</html>