<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/premierLeagueStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/premierLeagueJS.js}"></script>
</head>
<body>
<header class="masterHeader">
    <nav class="clubLogoNavigation"></nav>
    <div class="fixedContainer">
        <div class="navContainer">
            <nav class="mainNav">
                <a class="pageLinks" href="/index.html">Home</a>
                <a class="pageLinks" href="/clubs?clubName=">Clubs</a>
            </nav>
        </div>
    </div>
</header>

</body>
</html>